.content-table{
    margin-top : 20px;
}
table{
    border-collapse: collapse;
    width : 980px;
    
}
table thead{
    background : #DDDDDD;
}
table, td, th {border: 1px solid gray}
td, th {padding: 5px}
span {
    background:#99FF99;
    border-radius : 5px;
    padding :3px;
}